.form{
    padding: 46px 56px 40px 40px;
}


.googleSignInButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.googleSignInButton:hover {
    background-color: #357ae8;
}

.googleIcon {
    margin-right: 10px;
}

.button{
    height: 68px;
    width: 100%;
    background: #26d6a1;
    margin-top: 40px;
    border-radius: 8px;
    color: white;
    transition: background-color 0.4s ease; 
}

.button:hover,
.button:active {
    background-color: #1BC768;
}