/* ------------------ */

.buyButton {

    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;

  }
  
  /* Menü ayarları */
  .menu {
    position: fixed;
    right: -50%; /* Menü başlangıçta ekranın dışında, sağdan sola kayacak */
    top: 0;
    width: 39%; /* Sayfanın yarısına kadar genişlik */
    height: 100%; /* Tam yükseklik */
    background-color:white;
    transition: right 0.2s ease-in-out;
    z-index: 1000; /* Menü her şeyin üstünde */
  }
  
  
  .menuOpen {
    right: 0; /* Açıldığında ekranın yarısına kadar çıksın */
  }
  
  .menuClosed {
    right: -50%; /* Kapanırken ekranın sağına geri insin */
  }
  
  .line {
    width: 93%;  /* Genişliği istediğin şekilde ayarlayabilirsin */
    height: 1px;  /* Çizginin kalınlığı */
    background-color: rgb(149, 149, 149);  /* Çizginin rengi */
    margin-top: 40px;
   margin-left: 25px;

  }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323); /* Şeffaf arka plan rengi */
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Başlangıçta görünmez */
    z-index: 1000; /* Menüden önce */
    pointer-events: none; /* Overlay'e tıklanamaz */
  }
  
  .overlayVisible {
    opacity: 1; /* Görünür hale gelir */
    pointer-events: auto; /* Overlay'e tıklanabilir */
  }
  
  .overlayHidden {
    opacity: 0; /* Gizlenir */
  }
  



/* ------------------- */



.progressContainer {
  width: 550px;
  margin-left: 20px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progressBar {
  height: 100%;
  background-color: red;
  transition: width 1s linear;
}

.overlayVisible {
  display: block;
}

.overlayHidden {
  display: none;
}

.menuOpen {
  right: 0;
}

.menuClosed {
  right: -100%;
}











.scrollContainer {
  max-height: 490px; /* Yüksekliği ayarlayabilirsin */
  overflow-y: scroll; /* Dikey kaydırma */
  scrollbar-width: thin; /* Kaydırma çubuğu genişliği (Opsiyonel) */
  scrollbar-color: #888 #fff; /* Kaydırma çubuğu rengi (Opsiyonel) */
}

/* Kaydırma çubuğunun görünümünü değiştirmek istersen: */
.scrollContainer::-webkit-scrollbar {
  width: 8px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #888;  /* Kaydırma çubuğu rengi */
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: #fff;  /* Arka plan */
}