.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.323); /* Şeffaf arka plan rengi */
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Başlangıçta görünmez */
    z-index: 10; /* Menüden önce */
    pointer-events: none; /* Overlay'e tıklanamaz */
  }
  
  .overlayVisible {
    opacity: 1; /* Görünür hale gelir */
    pointer-events: auto; /* Overlay'e tıklanabilir */
  }
  
  .overlayHidden {
    opacity: 0; /* Gizlenir */
  }
  