@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}










/* ----------------------- */



























.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

/* border: solid black; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.mySwiper .swiper-slide  {
  transition: background-color 0.3s ease;
}

.mySwiper .swiper-slide:hover {
  background-color: #26d6a1;
}

.swiper-slide img {

margin-left: 10px;

  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
 margin-top: 10px;
  border-radius: 20px;
}


















button {
  cursor: pointer;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.testimonial-content {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

.slide-in-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-out-exit {
  transform: translateX(0);
  opacity: 1;
}






/* ----------- */


