.card {
    width: 290px; /* Sabit genişlik */
    height: 300px; /* Sabit yükseklik */
    display: flex;
 
    justify-content: space-between;

    border-radius: 8px;
    overflow: hidden;

    margin: 10px;
}
.restaurant_card {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    max-width: 100%;
    margin: 0 20px 40px;
    position: relative;
    cursor: pointer;
}

.card_body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Kalan tüm alanı kaplasın */

}

.card_body h4, .card_body p {
    margin: 0;
    padding: 0;
    text-align: center;
}


.restaurant_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Alt kısma itmek için */
}
.restaurant_bottom span{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #4F4F4F;
}
.restaurant_bottom p{
border-radius: 30px;
    background-color: #D63626;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 4px 12px;
    color: #fff;
}
.card_top {
    width: 100%;
    height: 175px; /* Sabit yükseklik */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card_top img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    
}

.new_restaurant {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 4px;
}

.gold_text {
    color: gold;
    font-weight: bold; /* İsteğe bağlı: Metni kalın yapmak için */
}